[Unit]
Description=nginx - high performance web server
Documentation=http://nginx.org/en/docs/
After=network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
LimitNOFILE=8192
Type=forking
PIDFile=/var/run/nginx.pid
ExecStart=/usr/sbin/nginx-debug -c /etc/nginx/nginx.conf
ExecReload=/bin/sh -c '/bin/kill -s HUP $MAINPID; ps -C nginx -o pid,command= --no-headers | grep "nginx: logger process" | awk "{ print \$1 }" | xargs -r kill -9; ps -C splitlogs -o pid,command= --no-headers | grep "nginx/domains" | awk "{ print \$1 }" | xargs -r kill -9'
ExecStop=/bin/kill -s TERM $MAINPID
ExecStopPost=/bin/sh -c 'ps -C nginx -o pid,command= --no-headers | grep "nginx: logger process" | awk "{ print \$1 }" | xargs -r kill -9; ps -C splitlogs -o pid,command= --no-headers | grep "nginx/domains" | awk "{ print \$1 }" | xargs -r kill -9'
[Install]
WantedBy=multi-user.target
