[Unit]
Description=nginx - high performance web server
Documentation=http://nginx.org/en/docs/
After=network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
Type=forking
PIDFile=/var/run/nginx.pid
ExecStart=/usr/local/cpanel/scripts/restartsrv_nginx start
ExecReload=/usr/local/cpanel/scripts/restartsrv_nginx
ExecStop=/usr/local/cpanel/scripts/restartsrv_nginx stop

[Install]
WantedBy=multi-user.target
